.reviews-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 0.5rem;
    
}
.review-card{
    background-color: lightblue;
    border: 1px solid grey;
    /* gap: 1rem;
    margin: 4px;
    padding: 2px; */
    padding: 0.5rem;
    border-radius: 10px 10px 10px 10px;
    
}
.review-card h3{
    font-size: 20px;
    margin-bottom: 1rem;
}

.review-text{
    font-size: 18px;
    margin-bottom: 1rem;
}

.review-person{
    font-size: 16px;
    font-weight: 700;
}

@media(max-width: 1000px){
    /**/
    body{
        background-color: green;
    }
}

@media (max-width: 600px) {

    /*Screnn size : 0px to 600px*/
    .reviews-grid{

        grid-template-columns: 1fr;
    }

}


@media (max-width: 500px) {

    /* screen size 0px to 500px */
    body {
        background-color: red;
    }
    .review-card h3{
        display: none;
    }

}