/* :root{
    --
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
main{
    width: 75%;
    margin: 70px auto;
    height: 200px;

}

header{
    width: 75%;
    background-color: white;
    height: 100px;
    /* top right bottom left*/
    margin: 0px auto;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    gap: 10px;
    
}
#top-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px ;
    padding: 1%;
}
.top-nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search-bar {
  width: 150px;
  height: 30px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.top-nav-right{
    background-color: azure;
}

#bottom-nav{
    background-color: rgb(155, 15, 15);
    height: 50px;
    border-radius: 0px 0px 10px 10px ;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
}
.btn-box {
    width: 70%;
    background-color: rgb(57, 166, 183);
    height: 80%;
    padding: 5px;
}
.login-box {
    width: 25%;
    background-color: rgb(227, 224, 11);
    height: 80%;
}
#icons-box{
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    margin-bottom: 1rem;
}
.icon-items{
    width: 70px;
    height: 70px;

    padding: 5px;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
}
#ad-banner{
  display: flex;
  justify-content:center;
  gap: 10px;
  padding: 60px;
  overflow-x:hidden;
    
}
.ad-banners {
  flex: 1;
  width: 480px;
  height: 220px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

#home-decor-1,#home-decor-2{
    max-width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(223, 73, 27, 0.822);
}
#home-decor-top{
    display: flex;
    justify-content:space-between;
    color: #ffffff;
}
.right-swipe-icons{
    color: black;
}
#home-decor-bottom{
    background-color:white;
    margin: 5px 5px 5px 5px ;
    display: flex;
    width: 100% auto;
    justify-content:space-evenly;
    border-radius: 5px 5px 5px 5px;
    
   
}
.home-decor-cards{
    background-color:rgb(215, 210, 210);
    border: solid;
    padding: 10px;
    height: auto;
    width: 20000px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    gap: 10px;
}
.home-decor-cards>img{
    width: 100%;
    height: 75%;
}
#spotlight-container{
    max-width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    justify-content:start;
}
.spotlight-items{
    width: 150px;
    height: 200px;
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}
.spotlight-items>img{
    width: 100%;
    height: 100%;
}

footer{
    background-color: #212121;
    color: white;
    padding: 40px 0 20px 0;
    font-size: 12px;
    margin-top: 55rem;
}

#footer-top{
    display: flex;
    justify-content:space-around;
}

#footer-nav-left-columns{
    display: flex;
    justify-content:space-around;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

#footer-nav-right-columns{
    display: flex;
    justify-content: space-between;
    border-left: solid white;
    padding-left: 1rem;
    width: 90%;
}

